{% extends "base.html" %} {% block content %}

<h1 class="text-body-emphasis">Загрузить CSV файл</h1>
<p class="fs-5 col-md-8"></p>

<div class="mb-5">
    <a href="/load-csv" class="btn btn-primary btn-lg px-4">Загрузить CSV</a>
</div>

<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
    <div class="col-md-6">
        <h2 class="text-body-emphasis">Администрирование</h2>
        <p></p>
        <ul class="list-unstyled ps-0">
            <li>
                <a class="icon-link mb-1" href="/addatm" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Добавить/удалить банкомат
                </a>
            </li>
            <li>
                <a class="icon-link mb-1" href="/addmechanics" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Добавить/удалить механика
                </a>
            </li>
            <li>
                <a class="icon-link mb-1" href="/map" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Изменить карту
                </a>
            </li>
            <li>
                <a class="icon-link mb-1" href="/cars" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Добавить/удалить машину инкассации
                </a>
            </li>
            </a>
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2 class="text-body-emphasis">Отчеты</h2>
        <p></p>
        <ul class="list-unstyled ps-0">
            <li>
                <a class="icon-link mb-1" href="/">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Состояние парка банкоматов
                </a>
            </li>
            <li>
                <a class="icon-link mb-1" href="">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Список сообщений от банкоматов
                </a>
            </li>
            <li>
                <a class="icon-link mb-1" href="/listmechanics" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Список механиков
                </a>
            </li>
            <li>
                <a class="icon-link mb-1" href="/listatm" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Список банкоматов
                </a>
            </li>
            <li>
                <a class="icon-link mb-1" href="/listcars" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#arrow-right-circle"/>
                    </svg>
                    Список машин инкассации
                </a>
            </li>
        </ul>
    </div>
</div>


{% endblock %}
